<head>
<style>


.header {
  background-color: rgb(46, 204, 0);
  color: #ffffff;
  padding: 55px;
}



</style>
<div class="header">
  <h1>Decompiling</h1>
</div>

</head>
<body>

<p> Programs can often be decompiled into their pseudo code or original code.

Ida can be used, or snowman to decompile, alreadty compiled code</p>





